<div class"authorName"><%= @post.author.name %></div>
<a href="#" class="js-prev" data-id="<%=@post.id%>">...Prev</a>
<a href="#" class="js-next" data-id="<%=@post.id%>">Next...</a>
<h1 class="postTitle"><%= @post.title %></h1>
<p class="postBody"><%= @post.description %></p>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function() {
      const nextId = parseInt($(".js-next").data("id")) + 1;

      $.getJSON("/posts/"+nextId+"/post_data", function(data) {
        $(".authorName").text(data["author"]["name"]);
        $(".postTitle").text(data["title"]);
        $(".postBody").text(data["description"]);
        $(".js-prev").data("id", (data["id"] - 1));
        $(".js-next").data("id", data["id"]);
      });
    });

    $(".js-prev").on("click", function() {
      const prevId = parseInt($(".js-prev").data("id")) - 1;
      $.getJSON("/posts/"+prevId+"/post_data", function(data) {
        $(".authorName").text(data["author"]["name"]);
        $(".postTitle").text(data["title"]);
        $(".postBody").text(data["description"]);
        $(".js-next").data("id", (data["id"] + 1));
        $(".js-prev").data("id", data["id"]);
      });
    });
  });
</script>
